.header__logo {
  margin: 0;
  padding: 0 0 0 27px;
  width: 103.74px;
  max-width: 100%;
  height: 24.4px;
  transition: .15s;
}

.header__logo:hover {
  opacity: .6;
  transition: .3s;
}

@media screen and (min-width: 880px) {
  .header__logo {
    padding: 0;
    width: 142px;
    height: 33px;
  }
}
