.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  background: url(../../../images/logo/delete-button.svg) no-repeat center;
  background-size: 18px 19px;
  width: 18px;
  height: 19px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
}
