.popup__field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.popup__field:last-child {
  margin-bottom: 48px;
}

.popup__field:first-child {
  margin-top: 16px;
}